<div class="d-flex px-3 py-3">
    <span class="fs-3 fw-bold w-75 text-primary">Carpool</span>
</div>
<div class="flex px-3 mt-3">
    <button class="btn btn-outline-primary me-5 w-50" data-bs-target="#offerCarPoolModal" data-bs-toggle="modal" type="button">
        Offer carpool
        <span class="float-right">
            <svg class="bi bi-arrow-right" fill="currentColor" height="16" viewBox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8" fill-rule="evenodd"/>
            </svg>
            </span>
    </button>
</div>
<div class="row p-4">
    <div *ngFor="let post of posts" class="col-sm-12 col-md-4 p-3">
        <div class="card">
            <div [ngClass]="joined.includes(post.id) ? 'card-header bg-primary': 'card-header bg-white'">
                <div class="flex items-center text-gray-700">
                    <svg class="lucide lucide-map-pin w-4 h-4 mr-2" fill="none" height="24" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M20 10c0 6-8 12-8 12s-8-6-8-12a8 8 0 0 1 16 0Z"></path>
                        <circle cx="12" cy="10" r="3"></circle>
                    </svg>
                    {{post.destination}}
                </div>
            </div>
            <div class="card-body d-flex ">
                <div class="w-50">
                    <div class="flex items-center text-gray-700">
                        By: {{post.name}}
                    </div>
                    <div class="flex items-center text-gray-700">
                        Meet at: {{post.meetAt}}
                    </div>

                    <div class="flex items-center text-gray-700">
                        <svg class="lucide lucide-calendar w-4 h-4 mr-2" fill="none" height="24" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8 2v4"></path>
                            <path d="M16 2v4"></path>
                            <rect height="18" rx="2" width="18" x="3" y="4"></rect>
                            <path d="M3 10h18"></path>
                        </svg>
                        {{post.date | date: 'dd, MMM yyyy'}}
                    </div>

                    <div class="flex items-center text-gray-700">
                        <svg class="lucide lucide-clock w-4 h-4 mr-2" fill="none" height="24" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="12" cy="12" r="10"></circle>
                            <polyline points="12 6 12 12 16 14"></polyline>
                        </svg>
                        {{post.time | date: 'h:mm aa' }} {{post.flexibility == 0 ? 'Sharp' : '(+-' + post.flexibility + ') mins'}}
                    </div>

                    <div class="flex items-center text-gray-700">
                        <svg class="lucide lucide-users w-4 h-4 mr-2" fill="none" height="24" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2"></path>
                            <circle cx="9" cy="7" r="4"></circle>
                            <path d="M22 21v-2a4 4 0 0 0-3-3.87"></path>
                            <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                        </svg>
                        Available Slots: {{post.occupiedSlots}}/{{post.totalSlots}}
                    </div>
                </div>
                <div class="w-50 d-flex flex-column-reverse">
                    <button [disabled] = "joined.includes(post.id)" class="btn btn-primary text-white my-3 w-100 align-self-end" (click)="join(post.id)">{{joined.includes(post.id)? 'Joined' : 'Join'}}</button>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="modal" id="offerCarPoolModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <span class="fs-5">Offer car pool</span>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body">
                <div class="d-flex flex-column text-gray-700 mb-4">
                    <div>
                        Meet at:
                    </div>
                    <div class="d-flex justify-content-around">
                        <input autocomplete="off" class="btn-check" id="btn-check-1" name="meetAt" type="radio" [checked]="newPost.meetAt == 'North Coast'" (click)="newPost.meetAt = 'North Coast'">
                        <label class="btn " for="btn-check-1">North Coast</label>

                        <input autocomplete="off" class="btn-check" id="btn-check-2" name="meetAt" type="radio" [checked]="newPost.meetAt == 'North Tech'" (click)="newPost.meetAt = 'North Tech'">
                        <label class="btn " for="btn-check-2">North Tech</label>

                        <input autocomplete="off" class="btn-check" id="btn-check-3" name="meetAt" type="radio" [checked]="newPost.meetAt == 'Biopolis'" (click)="newPost.meetAt = 'Biopolis'">
                        <label class="btn " for="btn-check-3">Biopolis</label>

                        <input autocomplete="off" class="btn-check" id="btn-check-4" name="meetAt" type="radio" [checked]="newPost.meetAt == 'Other'" (click)="newPost.meetAt = 'Other'">
                        <label class="btn " for="btn-check-4">Other</label>
                    </div>
                </div>

                <div class="d-flex flex-column text-gray-700 mb-4">
                    <div>
                        Date:
                    </div>
                    <div>
                        <input [(ngModel)]="dateString" class="form-control" type="text">
                    </div>
                </div>

                <div class="d-flex flex-column text-gray-700 mb-4">
                    <div>
                        Time:
                    </div>
                    <div class="input-group">
                        <input [(ngModel)]="timeString" aria-label="Time" class="form-control" placeholder="Time" type="text">
                        <span class="input-group-text">+-</span>
                        <input [(ngModel)]="this.newPost.flexibility" aria-label="flexibility" class="form-control" placeholder="minutes" type="text">
                    </div>
                </div>

                <div class="d-flex flex-column text-gray-700 mb-4">
                    <div>
                        Destination:
                    </div>
                    <div class="d-flex justify-content-around">
                        <input autocomplete="off" class="btn-check" id="btn-check-d1" name="destination" type="radio" [checked]="newPost.destination == 'North Coast'" (click)="newPost.destination = 'North Coast'">
                        <label class="btn " for="btn-check-d1">North Coast</label>

                        <input autocomplete="off" class="btn-check" id="btn-check-d2" name="destination" type="radio" [checked]="newPost.destination == 'North Tech'" (click)="newPost.destination = 'North Tech'">
                        <label class="btn " for="btn-check-d2">North Tech</label>

                        <input autocomplete="off" class="btn-check" id="btn-check-d3" name="destination" type="radio" [checked]="newPost.destination == 'Biopolis'" (click)="newPost.destination = 'Biopolis'">
                        <label class="btn " for="btn-check-d3">Biopolis</label>

                        <input autocomplete="off" class="btn-check" id="btn-check-d4" name="destination" type="radio" [checked]="newPost.destination == 'Other'" (click)="newPost.destination = 'Other'">
                        <label class="btn " for="btn-check-d4">Other</label>
                    </div>
                </div>
                <div class="d-flex flex-column text-gray-700 mb-4">
                    <div class="input-group mb-4">
                        <label class="input-group-text" for="inputGroupSelect01">Available Slots:</label>
                        <select class="form-select" id="inputGroupSelect01" [(ngModel)]="newPost.totalSlots">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn border" data-bs-dismiss="modal" type="button">Close</button>
                <button (click)="save()" class="btn btn-primary text-white" data-bs-dismiss="modal" type="button">Save</button>
            </div>
        </div>
    </div>
</div>
