<div class="d-flex align-items-center text-bg-primary-gradient px-3 py-3">
    <button (click)="location.back()" class="btn me-3">
        <svg class="bi bi-arrow-left" fill="currentColor" height="25" viewBox="0 0 16 16" width="25" xmlns="http://www.w3.org/2000/svg">
            <path d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8" fill-rule="evenodd"/>
        </svg>
    </button>
    <span class="fs-3 fw-bold w-50">Let me help to look for the right person.</span>
</div>
<div id="expert-text-area" class="w-100 p-3 d-flex flex-column">
    <div class="flex-grow-5 flex-fill" id="conversation">
        <div class="d-flex flex-column w-100 px-3">
            <div *ngFor = "let c of conversation" class="pt-3">
                <div [ngClass]= "c.type == 'q' ? 'bg-primary' : 'bg-light'">
                    {{c.content}}
                </div>

            </div>
        </div>
    </div>
    <div class="input-group sticky-bottom my-3">
        <textarea [(ngModel)]="question"  aria-label="With textarea" class="form-control" (keydown.enter)="submit()" ></textarea>
        <button class="input-group-text" (click)="submit()">
            Send
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="ms-1 bi bi-send" viewBox="0 0 16 16">
                <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576zm6.787-8.201L1.591 6.602l4.339 2.76z"/>
            </svg>
        </button>
    </div>
</div>

