<!-- Toolbar -->
<header class="text-bg-primary bg-gradient d-flex flex-row justify-content-between py-1 px-1">
    <div class="align-middle align-self-center ms-3 fs-3">
        MeeSeek
    </div>
    <button class="btn btn-link text-white me-3" type="button">Login</button>
</header>

<div class="d-flex justify-content-around p-3">
    <div>
        <button (click)="router.navigate(['car-pool'])"><img class="app" src="assets/ridehub-icon.png"></button>
    </div>
    <div>
        <button (click)="router.navigate(['expert'])"><img class="app" src="assets/experthub-icon.png"></button>
    </div>
    <div>
        <button (click)="router.navigate(['bond'])"><img class="app" src="assets/bondhub-icon.png"></button>
    </div>
</div>
<hr class="mx-3">
<router-outlet class="my-3"></router-outlet>
