@import "bootstrap";
$primary: #f9a31e; // set the $primary variable
// merge with existing $theme-colors map
$theme-colors: map-merge($theme-colors, (
        "primary": $primary,
));


html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
